knowledge/__pycache__/*.pyc
knowledge/migrations/__pycache__/*.pyc
Mkg_crowdsourcing/__pycache__/*.pyc
static/css/fontawesome.min.css
static/css/jquery.datetimepicker.min.css
static/css/accounting.css
experts.json
tasks.json
db.sqlite3
knowledge/migrations/*.py
dateup.py
ZJMedicalOrg.json
DTA_analysis6.py
db copy.sqlite3
knowledge/management/commands/__pycache__/*.pyc
knowledge/migrations/*.py